div > .vimiumHintMarker {
  /* linkhint boxes */
  opacity: 0.8;
  background: #2D2D2D;
  border-radius: 0;
  border: 2px solid #777777;
}

div > .vimiumHintMarker span {
  /* linkhint text */
  color: #FFFFFF;
  font-family: "Calibri", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1px;
  text-shadow: none;
}

div > .vimiumHintMarker > .matchingCharacter {
  color: #3FCFEE;
}

