@-moz-document url(about:newtab) {
  body {
    background-color: #202025 !important;
    height: 0 !important;
  }

  body::before {
    position: fixed;
    pointer-events: none;
    margin: 0.2em;
    right: 0;
    bottom: 0;
    font-family: 'PixelMPlus12', sans-serif;
    font-size: 10em;
    color: #353540;
    content: "ネット";
  }

  body > * {
    display: none !important;
  }
}
