@-moz-document url(about:newtab) {
  #newtab-window {
    background-color: #444444 !important;
  }
  #newtab-window::before {
    position: fixed;
    right: 0.25em;
    bottom: 0;
    margin: 0;
    font-size: 10em;
    color: #fafafa;
    content: "花火";
  }
  #newtab-window > * {
    display: none !important;
  }
}
