/* AGENT_SHEET */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url("http://www.w3.org/1999/xhtml");

/* Anonymous elements that do nothing. */
#navigator-toolbox::after, #tabbrowser-tabs::before, .tabbrowser-tab::after, .tabbrowser-tab::before, .toolbar-primary::after {
    display: none !important;
}

/* Globals */

* {
    font-family: 'PixelMPlus12', sans-serif !important;
    font-weight: normal !important;
}

/* Nav/URL bar */

#nav-bar {
    background-color: #99736e !important;
    background-image: none !important;
    box-shadow: unset !important;
    border: none !important;
    height: auto !important;
    font-size: 0.9rem !important;
}

#urlbar {
    color: white !important;
    border: none !important;
    background: transparent !important;
    margin-left: 5px !important;
    margin-right: 0 !important;
    padding-left: 10px !important;
    padding-right: 5px !important;
    text-align: center !important;
}

/* Hide urlbar placeholder text */
*|*.textbox-input::-moz-placeholder,
*|*.textbox-input:hover::-moz-placeholder {
    display: none !important;
}

/* Remember password, etc... */
#notification-popup-box {
    border-image: none !important;
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

/* Autocomplete result styling */
.autocomplete-richlistitem {
    background-color: #99736e !important;
}

.autocomplete-richlistitem[current],
.autocomplete-richlistitem[selected] {
    background-color: #4e6069 !important;
}

.autocomplete-richlistbox {
    margin: 0 !important;
}

/* Inverted toolbar buttons */
#nav-bar .toolbarbutton-icon {
    --toolbarbutton-hover-bordercolor: none !important;
    --toolbarbutton-active-bordercolor: none !important;
    --toolbarbutton-hover-boxshadow: none !important;
    --toolbarbutton-active-boxshadow: none !important;
    --toolbarbutton-hover-background: none !important;
    --toolbarbutton-active-background: none !important;
    border: none !important;
}

/* Downloads button */
/*
#downloads-button {
    list-style: none !important;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="19" width="14"><path fill="%23fafafa" d="M14,6 L10,6 L10,0 L4,0 L4,6 L0,6 L7,13 L14,6 L14,6 Z M0,15 L0,17 L14,17 L14,15 L0,15 L0,15 Z" /></svg>') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

#downloads-indicator-icon {
    display: none !important;
}
*/

#back-button, #forward-button,
#identity-box, .urlbar-history-dropmarker,
#urlbar-go-button, #urlbar-reload-button, #urlbar-stop-button,
#nav-bar > :not(#nav-bar-customization-target),
#nav-bar-customization-target >
    :not(#urlbar-container) {
    display: none !important;
}

/* Tabs */

#TabsToolbar {
    border: none !important;
    transition: 0.2s !important;
    height: 25px !important;
}

#tabbrowser-tabs {
    background-color: #3e5059 !important;
    height: 25px !important;
    min-height: 25px !important;
}

.arrowscrollbox-scrollbox {
    padding: 0 !important;
}

.tabbrowser-tab {
    max-height: none !important;
    min-width: 0px !important;
    opacity: 1 !important;
    border: none !important;
    color: white !important;
    text-align: center !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image {
    display: none !important;
}

.tab-content {
    min-height: 25px !important;
}

.tab-content > :not(.tab-label) {
    height: 15px !important;
    width: auto !important;
}

.tab-label {
    font-size: 0.8rem !important;
}

/* Make tabs in the background pop out */


.tab-stack {
    /*
    margin-top: 7px !important;
    margin-left: 7px !important;
    */
    background-color: #3e5059 !important;
}

/*
.tabbrowser-tab:last-child .tab-stack {
    margin-right: 7px !important;
}
*/

.tabbrowser-tab:hover .tab-stack {
    background-color: #4e6069 !important;
}

.tabbrowser-tab[selected=true] .tab-stack {
    background-color: #99736e !important;
}

.arrowscrollbox-overflow-start-indicator,
.arrowscrollbox-overflow-end-indicator {
    background-image: none !important;
}

.scrollbutton-up, .scrollbutton-down {
    /* right arrow triangle icon */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m11.4 1.95 0.000001 5.05v5.05l-4.4-2.48-4.37-2.52 4.37-2.52z"/></svg>') !important;
}

.tab-background, .tab-background-middle {
    border: none !important;
    margin: 0 !important;
    background: inherit !important;
}

#alltabs-button,
#new-tab-button, .tabs-newtab-button, .tabbrowser-arrowscrollbox scrollbar,
.tab-background-start, .tab-background-end, .tab-icon, .tab-close-button {
    display: none !important;
}

/* Tree Style Tab Addon */

.treestyletab-splitter,
.treestyletab-tabbar-toggler,
#treestyletab-tabbar-resizer-box {
    display: none !important;
}

/* Find bar */

findbar, .findbar-button {
    background-color: #545466 !important;
    color: white !important;
}

.findbar-closebutton {
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="M3.81,1.69,1.69,3.81,4.88,7,1.69,10.2,3.81,12.3,7,9.12l3.19,3.19,2.12-2.12-3.18-3.2,3.18-3.19-2.1-2.12-3.2,3.19-3.19-3.19z"/></svg>') !important;
}

.findbar-find-previous, .findbar-find-next {
    display: none !important;
}

/* Sidebar */

#sidebar-header, #sidebar-search-container {
    background-color: #353540 !important;
    color: #FFFFFF !important;
}

.sidebar-placesTreechildren {
    background-color: #545466 !important;
    color: #FFFFFF !important;
}

.textbox-search-icons, #sidebar-search-label {
    display: none !important;
}

