[user]
    name = metakirby5
    email = metakirby5@gmail.com
[color]
    ui = auto
[alias]
    ci = commit
    st = status
    co = checkout
[core]
    excludesfile = /Users/ethan/.gitignore_global
[push]
    default = simple
