!! Defines
#define  MOD      mod4

!! URxvt

! Fonts
URxvt.font:      xft:Source Code Pro:pixelsize=28
URxvt.boldFont:  xft:Source Code Pro:bold:pixelsize=28

! Colors: https://github.com/vypr/dottie/blob/master/.Xresources
URxvt.background:  #272727
URxvt.foreground:  #fafafa

! Black
URxvt.color0:      #393939
URxvt.color8:      #5b5b5b

! Red
URxvt.color1:      #aa4e60
URxvt.color9:      #f79bad

! Green
URxvt.color2:      #c15e9a
URxvt.color10:     #ffabe7

! Yellow
URxvt.color3:      #d27072
URxvt.color11:     #ffbdbf

! Blue
URxvt.color4:      #5b52b1
URxvt.color12:     #a89ffe

! Magenta
URxvt.color5:      #463d99
URxvt.color13:     #938ae6

! Cyan
URxvt.color6:      #7a7bc4
URxvt.color14:     #c6c8ff

! White
URxvt.color7:      #d8d8d8
URxvt.color15:     #ffffff

! Appearance
URxvt.saveLines:        12000
URxvt.internalBorder:   30
URxvt.urgentOnBell:     true
URxvt.scrollBar:        false
URxvt.cursorBlink:      true

! Clickable links
URxvt.url-launcher:     google-chrome
URxvt.matcher.button:   1

URxvt.perl-ext-common:  default,matcher

!! Xautolock

Xautolock.time:         5
Xautolock.locker:       i3plock

Xautolock.corners:      000-
Xautolock.cornersize:   100

