!! Defines
#define  MOD      mod4

!! URxvt

! Fonts
URxvt.font:      xft:Source Code Pro:pixelsize=28:antialias=true:hinting=true
URxvt.boldFont:  xft:Source Code Pro:bold:pixelsize=28:antialias=true:hinting=true

! Colors: https://github.com/vypr/dottie/blob/master/.Xresources
URxvt.background:  #272727
URxvt.foreground:  #fafafa

! Black
URxvt.color0:      #393939
URxvt.color8:      #5b5b5b

! Red
URxvt.color1:      #f42d6c
URxvt.color9:      #fa9fbb

! Green
URxvt.color2:      #6cf42d
URxvt.color10:     #bbfa9f

! Yellow
URxvt.color3:      #f4b52d
URxvt.color11:     #fadd9f

! Blue
URxvt.color4:      #2d8af4
URxvt.color12:     #9ec9fa

! Magenta
URxvt.color5:      #b52df4
URxvt.color13:     #dd9ffa

! Cyan
URxvt.color6:      #2df4b5
URxvt.color14:     #9ffadd

! White
URxvt.color7:      #d8d8d8
URxvt.color15:     #ffffff

! Appearance
URxvt.saveLines:        12000
URxvt.internalBorder:   30
URxvt.urgentOnBell:     true
URxvt.scrollBar:        false
URxvt.cursorBlink:      true

! Clickable links
URxvt.url-launcher:     google-chrome
URxvt.matcher.button:   1

URxvt.perl-ext-common:  default,matcher

!! Xautolock

Xautolock.time:         5
Xautolock.locker:       i3plock

Xautolock.corners:      000-
Xautolock.cornersize:   100

