/* AGENT_SHEET */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url("http://www.w3.org/1999/xhtml");

/* Place menu button and panel ui button at the left. Can't do this in customize mode. */
#TabsToolbar > * { -moz-box-ordinal-group: 4 !important; }
#tabbrowser-tabs { -moz-box-ordinal-group: 2 !important; }
#new-tab-button { -moz-box-ordinal-group: 3 !important;  }
#ctraddon_appbutton,
#ctraddon_panelui-button { -moz-box-ordinal-group: 1 !important; }

/* Anonymous elements that do nothing. */
#navigator-toolbox::after, #tabbrowser-tabs::before, .tabbrowser-tab::after, .tabbrowser-tab::before, .toolbar-primary::after {
    display: none !important;
}

#page-proxy-favicon {
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
    width: 14px !important;
    height: 14px !important;
 }

/*
 *  Urlbar
 */

#urlbar-container {
    max-width: 250px !important;
    min-width: 250px !important;
    background: inherit !important;
}

#urlbar-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    clip-path: none !important;
}

#urlbar {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}

#back-button, #forward-button {
    display: none !important;
}

/* Hiding this in customize mode breaks that mode. */
#main-window:not([customizing]) #nav-bar {
    display: none !important;
}

#ctraddon_extra-bar, #customToolbars, #PersonalToolbar,
#addon-bar, #nav-bar, #toolbar-menubar {
    padding: 0 !important;
}

.urlbar-history-dropmarker, #urlbar-go-button,
#urlbar-reload-button, #urlbar-stop-button {
    display: none !important;
}

#identity-icon-labels {
    display: none !important;
}

#identity-box {
    width: 16px !important;
    height: inherit !important;
    min-width: 0 !important;
    min-height: 0 !important;
    border: 0 !important;
    border-radius: 0px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
}

#notification-popup-box {
    position: static !important;
    background: #ffffff !important;
    padding: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    margin: 0 !important;
}

#page-proxy-favicon {
    min-width: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 0 0 1px !important;
    /* White globe icon */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m7 0.0001c-0.179 0-0.356 0.018-0.531 0.031-0.93 0.309-1.74 1.41-2.25 2.97h5.56c-0.51-1.56-1.32-2.66-2.25-2.97-0.17-0.0119-0.35-0.0299-0.53-0.0299zm-2.28 0.375c-1.42 0.487-2.63 1.42-3.47 2.62h2.38c0.27-1.03 0.63-1.93 1.09-2.62zm4.53 0c0.457 0.692 0.845 1.59 1.12 2.62h2.34c-0.8-1.21-2-2.14-3.45-2.62zm-8.56 3.62c-0.365 0.768-0.593 1.61-0.656 2.5h3.09c0.03-0.88 0.14-1.72 0.29-2.5h-2.72zm3.28 0c-0.174 0.767-0.282 1.61-0.312 2.5h6.69c-0.0305-0.892-0.139-1.73-0.312-2.5h-6.06zm6.62 0c0.148 0.78 0.255 1.62 0.281 2.5h3.09c-0.1-0.88-0.3-1.74-0.7-2.5h-2.72zm-10.6 3.5c0.0635 0.891 0.291 1.73 0.656 2.5h2.72c-0.12-0.78-0.23-1.62-0.26-2.5h-3.09zm3.62 0c0.0305 0.892 0.139 1.73 0.312 2.5h6.06c0.173-0.767 0.282-1.61 0.312-2.5h-6.69zm7.22 0c-0.0259 0.876-0.133 1.72-0.281 2.5h2.72c0.361-0.762 0.593-1.62 0.656-2.5h-3.09zm-9.62 3.5c0.84 1.21 2.05 2.14 3.47 2.62-0.39-0.7-0.75-1.6-1.03-2.6h-2.38zm2.97 0c0.514 1.56 1.32 2.66 2.25 2.97 0.175 0.013 0.353 0.031 0.531 0.031 0.179 0 0.356-0.018 0.531-0.031 0.931-0.309 1.74-1.41 2.25-2.97h-5.56zm6.16 0c-0.28 1.03-0.668 1.93-1.12 2.62 1.43-0.483 2.62-1.42 3.47-2.62h-2.34z"/></svg>') !important;
    background: transparent !important;
}

#page-proxy-favicon[pageproxystate="invalid"] {
    opacity: 0.3 !important;
}

#identity-box.verifiedDomain > #page-proxy-favicon[pageproxystate="valid"] {
    /* white padlock icon */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m7 0c-2.21 0-4 1.79-4 4v3c-0.55 0-1 0.52-1 1.16v4.69c0 0.7 0.45 1.2 1 1.2h8c0.554 0 1-0.523 1-1.16v-4.64c0-0.64-0.4-1.16-1-1.16v-3c0-2.21-1.79-4-4-4zm0 1c1.66 0 3 1.34 3 3v3h-6v-3c0-1.66 1.34-3 3-3z"/></svg>') !important;
    -moz-image-region: inherit !important;
}

#identity-box.verifiedIdentity > #page-proxy-favicon[pageproxystate="valid"] {
    /* white stronger padlock icon */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m7 0c-2.76 0-5 2.24-5 5v1c-0.55 0-1 0.52-1 1.16v5.69c0 0.7 0.45 1.2 1 1.2h10c0.554 0 1-0.523 1-1.16v-5.64c0-0.64-0.4-1.16-1-1.16v-1c0-2.76-2.24-5-5-5zm0 3c1.1 0 2 0.9 2 2v1h-4v-1c0-1.1 0.9-2 2-2z"/></svg>') !important;
    -moz-image-region: inherit !important;
}

#identity-box.mixedContent > #page-proxy-favicon[pageproxystate="valid"] {
    /* white broken padlock icon */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m7 0c-1.34 0-2.52 0.645-3.25 1.66l0.72 0.72c0.53-0.84 1.47-1.38 2.53-1.38 1.66 0 3 1.34 3 3v3h-0.91l2.91 2.91v-1.75c0-0.64-0.4-1.16-1-1.16v-3c0-2.21-1.79-4-4-4zm-4 5.09v1.91c-0.55 0-1 0.52-1 1.16v4.69c0 0.7 0.45 1.2 1 1.2h8c0.24 0 0.453-0.118 0.625-0.281l-6.69-6.7h-0.91v-0.91l-1-1z"/></svg>') !important;
    -moz-image-region: inherit !important;
}

/*
 *  Toolbars
 */

.toolbar-primary,
#TabsToolbar,
.browserContainer > findbar {
    height: 16px !important;
    padding: 0 !important;
    margin: 0 !important;
    background: #111 !important;
    -moz-appearance: none !important;
    transition: none !important;
}

#tabs-closebutton, #ctraddon_tabs-closebutton, #alltabs-button,
#private-browsing-indicator {
    display: none !important;
}

/*
 *  Tabs
 */

#tabbrowser-tabs {
    min-height: 100 !important;
    background-color: #2D2D2D !important;
/*     background: transparent !important; */
}

.tabbrowser-tab {
    background: transparent !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
    color: #fff !important;
    border: none !important;
    padding: 0 0 0 11px !important;
}

.tabbrowser-tab[selected=true] {
    background-color: #444444 !important;
    font-weight: bold !important;
}

.tab-background-start, .tab-background-end, .tab-icon {
    display: none !important;
}

.tab-background-middle, .tab-background, .tab-content,
.tab-text-stack, .arrowscrollbox-scrollbox {
    margin: 0 !important;
    padding: 0 !important;
    background: inherit !important;
}
/* Progressbar from tab mix plus. */
.tab-progress {
    margin: 0 !important;
}

/*
 *  Toolbar buttons
 */

#TabsToolbar toolbarbutton,
.browserContainer > findbar toolbarbutton {
    -moz-appearance: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 1px 0 1px !important;
    margin: 0 !important;
    min-height: 0 !important;
    border: none !important;
    height: inherit !important;
}

#TabsToolbar toolbarbutton > label {
    display: none !important;
}

#TabsToolbar toolbarbutton > image
/* #addon-bar toolbarbutton > image */ {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    width: 14px !important;
    height: 14px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    background: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

#PanelUI-menu-button > image {
    /* high-contrast white firefox icon */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m5.26 13.8c-1.9-0.4-3.51-1.6-4.28-3.2-0.631-1.25-0.952-2.08-0.867-4.06 0.107-2.45 0.819-4.04 1.9-5.25l0.51-0.569 0.07 1.02c0.0669 0.999 0.0773 1.02 0.453 1.07 0.295 0.0341 0.528-0.089 1-0.528 0.656-0.609 1.57-1.1 2.07-1.1 0.298-0.00299 0.296 0.00673-0.0983 0.652-0.22 0.36-0.5 0.89-0.61 1.18-0.21 0.51-0.21 0.52 0.14 0.66 0.195 0.0746 0.619 0.136 0.944 0.136s0.657 0.0809 0.738 0.18c0.23 0.28-0.26 0.94-0.98 1.33-0.63 0.34-0.64 0.36-0.64 1v0.659l-0.41-0.21c-0.76-0.4-0.94 0.11-0.29 0.77 0.52 0.52 1.02 0.52 2.07-0.01 0.94-0.48 1.24-0.51 1.55-0.16 0.33 0.37 0.28 0.69-0.15 0.88-0.21 0.09-0.6 0.36-0.88 0.61-0.45 0.39-0.86 0.57-1.82 0.77-0.53 0.12 0.88 0.67 1.71 0.67 1.26 0 2.62-0.86 3.22-1.96 0.5-0.95 0.4-2.31-0.3-3.33-0.2-0.29-0.3-0.52-0.3-0.52 0.153 0 0.995 0.742 1.27 1.12l0.331 0.452v-0.623c0-1.11-0.662-2.87-1.49-3.98l-0.33-0.472 0.73 0.402c2.3 1.27 3.8 4.26 3.3 6.87-0.4 2.44-2.2 4.64-4.44 5.44-0.97 0.3-2.92 0.4-4.1 0.1z"/></svg>') !important;
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
}

#tabview-button {
    /* 4 white rectangles */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><g fill="%23fff"><rect height="4" width="4" y="0" x="0"/><rect height="4" width="8" y="0" x="6"/><rect height="8" width="8" y="6" x="0"/><rect height="8" width="4" y="6" x="10"/></g></svg>') !important;
    -moz-image-region: inherit !important;
}

toolbarbutton.tabs-newtab-button,
toolbarbutton#new-tab-button {
    /* white plus icon */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m7 11h-1v-1.5-1.5h-1.5-1.5v-1-1h1.5 1.5v-1.5-1.5h1 1v1.5 1.5h1.5 1.5v1 1h-1.5-1.5v1.5 1.5h-1z"/></svg>') !important;
    width: 16px !important;
    display: none;
}

.scrollbutton-up, .scrollbutton-down,
.browserContainer .findbar-find-previous.tabbable,
.browserContainer .findbar-find-next.tabbable {
    /* right arrow triangle icon */
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m11.4 1.95 0.000001 5.05v5.05l-4.4-2.48-4.37-2.52 4.37-2.52z"/></svg>') !important;
}

.browserContainer .findbar-find-previous {
    transform: rotate(90deg) !important;
}
.browserContainer .findbar-find-next {
    transform: rotate(-90deg) !important;
}

.scrollbutton-up > .toolbarbutton-icon,
.scrollbutton-down > .toolbarbutton-icon {
    -moz-appearance: none !important;
}

/* Find bar. */

.browserContainer > findbar,
.browserContainer > findbar > .findbar-container {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.browserContainer > findbar > .findbar-container > label {
    padding: 0 !important;
    margin: 0 !important;
}

.browserContainer > findbar toolbarbutton {
    background: transparent !important;
    color: white !important;
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
    height: 16px !important;
    width: 16px !important;
}

.browserContainer > findbar toolbarbutton > image {
    margin: 0 !important;
    opacity: 1 !important;
}

.browserContainer > findbar toolbarbutton > label {
    display: none !important;
}

.browserContainer .findbar-highlight {
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><g fill="%23fff"><rect height="4" width="2" y="0" x="0"/><rect height="4" width="2" y="6" x="0"/><rect height="2" width="4" y="12" x="0" /><rect height="2" width="4" y="12" x="6"/><rect height="4" width="2" y="10" x="12"/><rect height="4" width="2" y="4" x="12"/><rect height="2" width="4" y="0" x="10"/><rect height="2" width="4" y="0" x="4"/></g></svg>') !important;
}

.browserContainer .findbar-case-sensitive {
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="M 3 0 C 1.343 0 0 1.343 0 3 L 0 4 L 0 7 L 0 13 C 0 13.554 0.446 14 1 14 C 1.554 14 2 13.554 2 13 L 2 8 L 4 8 L 4 13 C 4 13.554 4.446 14 5 14 C 5.554 14 6 13.554 6 13 L 6 7 L 6 4 L 6 3 C 6 1.343 4.657 0 3 0 z M 3 2 C 3.552 2 4 2.448 4 3 L 4 4 L 4 6 L 2 6 L 2 4 L 2 3 C 2 2.448 2.448 2 3 2 z M 10 8 C 8.343 8 7 9.343 7 11 C 7 12.657 8.343 14 10 14 C 10.463 14 10.889 13.875 11.281 13.688 C 11.463 13.880 11.713 14 12 14 L 13 14 C 13.554 14 14 13.554 14 13 C 14 12.446 13.554 12 13 12 L 13 11 L 13 9 C 13 8.446 12.554 8 12 8 C 11.713 8 11.463 8.120 11.281 8.313 C 10.889 8.125 10.463 8 10 8 z M 10 10 C 10.552 10 11 10.448 11 11 C 11 11.552 10.552 12 10 12 C 9.448 12 9 11.552 9 11 C 9 10.448 9.448 10 10 10 z"/></svg>') !important;
}

.browserContainer .findbar-closebutton {
    list-style-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="M3.81,1.69,1.69,3.81,4.88,7,1.69,10.2,3.81,12.3,7,9.12l3.19,3.19,2.12-2.12-3.18-3.2,3.18-3.19-2.1-2.12-3.2,3.19-3.19-3.19z"/></svg>') !important;
}

.browserContainer .tabbable[checkState="0"] > image,
.browserContainer .tabbable[disabled="true"] > image {
    opacity: 0.5 !important;
}

.browserContainer .findbar-textbox {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 400px !important;
}

.browserContainer .findbar-textbox[status="notfound"] {
    background: red !important;
}

.browserContainer .findbar-textbox[flash="true"] {
    background: yellow !important;
}

.browserContainer > findbar .findbar-find-status {
    display: none !important;
}

.browserContainer > findbar label.found-matches {
    -moz-box-flex: 1 !important;
    text-align: right !important;
    margin-right: 1em !important;
}

/* Hover effect. */
#identity-box:hover,
.tabbrowser-tab:hover,
#TabsToolbar toolbarbutton:hover,
.browserContainer findbar toolbarbutton:hover {
    background: #2E5780 !important;
    opacity: 1 !important;
    box-shadow: none !important;
    transition-duration: 1ms !important;
}

/* For DOM Inspector. */
treechildren::-moz-tree-cell-text(ELEMENT_NODE) {
    color: #ffffff !important;
}
treechildren::-moz-tree-cell-text(CDATA_SECTION_NODE),
treechildren::-moz-tree-cell-text(TEXT_NODE) {
    color: #4444aa !important;
}
