bash
beeftornado/rmtree/brew-rmtree
coreutils
fasd
gcc
git
htop
hub
irssi
macvim --with-lua --with-override-system-vim
mpv
node
homebrew/python/numpy
p7zip
python
python3
ranger
rlwrap
stow
the_platinum_searcher
tmux
trash
wget
