button.action-button:before {
  color: white;
}

button.action-button[data-icon=view-note]:before {
  content: "↪︎";
  background-image: none;
}

button.action-button[data-icon=add-term-kanji]:before {
  content: "+";
  background-image: none;
}

button.action-button[data-icon=add-term-kana] {
  display: none;
}

button.action-button[data-icon=play-audio] {
  content: "▶︎";
  background-image: none;
}
