" Plugins
set surround

" IDE Actions
noremap H :action VimMotionPreviousTab<cr>
noremap L :action VimMotionNextTab<cr>
noremap <bslash> :action VimGotoDeclaration<cr>
noremap <bar> :action ShowUsages<cr>
noremap <c-n> :action RenameElement<cr>

" Misc
set ignorecase
set smartcase
set infercase

set hlsearch
set gdefault

set clipboard=unnamedplus,unnamed
set scrolloff=5

let mapleader = " "

" Swap ; and :
noremap ; :
noremap : ;

" Swap ' and `
noremap ' `
noremap ` '

" Quick play macro
noremap Q @q

" Split line
noremap K i<cr><esc>

" Treat long lines as break lines (useful when moving around in them)
" Account for <count>j/k
noremap <silent> <expr> j v:count ? 'j' : 'gj'
noremap <silent> <expr> k v:count ? 'k' : 'gk'
noremap <silent> <expr> <down> v:count ? 'j' : 'gj'
noremap <silent> <expr> <up> v:count ? 'k' : 'gk'
inoremap <silent> <down> <esc>gja
inoremap <silent> <up> <esc>gka

" Preserve selection when (de)indenting in visual mode
vnoremap > >gv
vnoremap < <gv

" Swap 0 and ^, treat long lines as break lines
noremap 0 g^
noremap ^ g0
noremap $ g$

" Shift-tab to go back in jumplist
noremap <s-tab> <c-o>

" ,[sv] - Horizontal/vertical split
nnoremap <leader>s <C-w>s
nnoremap <leader>v <C-w>v

" ,[hjkl] - Switch to split
nnoremap <leader>h <C-W>h
nnoremap <leader>j <C-W>j
nnoremap <leader>k <C-W>k
nnoremap <leader>l <C-W>l
