# General
set bell-style visible

# Completion behavior
set completion-ignore-case on
set skip-completed-text on
set match-hidden-files off
set show-all-if-ambiguous on
set show-all-if-unmodified on

# Completion display
set colored-stats on
set completion-query-items 0
set mark-symlinked-directories on
set page-completions on
set print-completions-horizontally on

# Keymaps
set editing-mode vi
set keymap vi

