!! Defines
#define  MOD      mod4

!! URxvt

! Fonts
URxvt.font:      {{ #term_fonts }}xft:{{ . }}:pixelsize={{ term_pixelsize }}:antialias=true:hinting=true,{{ /term_fonts }}
URxvt.boldFont:  {{ #term_fonts }}xft:{{ . }}:bold:pixelsize={{ term_pixelsize }}:antialias=true:hinting=true,{{ /term_fonts }}
URxvt.letterSpace: {{ term_letterspace }}

! Colors: https://github.com/vypr/dottie/blob/master/.Xresources
URxvt.background:  {{ bgc }}
URxvt.foreground:  {{ fgc }}

! Black
URxvt.color0:      {{ n_black }}
URxvt.color8:      {{ b_black }}

! Red
URxvt.color1:      {{ n_red }}
URxvt.color9:      {{ b_red }}

! Green
URxvt.color2:      {{ n_green }}
URxvt.color10:     {{ b_green }}

! Yellow
URxvt.color3:      {{ n_yellow }}
URxvt.color11:     {{ b_yellow }}

! Blue
URxvt.color4:      {{ n_blue }}
URxvt.color12:     {{ b_blue }}

! Magenta
URxvt.color5:      {{ n_magenta }}
URxvt.color13:     {{ b_magenta }}

! Cyan
URxvt.color6:      {{ n_cyan }}
URxvt.color14:     {{ b_cyan }}

! White
URxvt.color7:      {{ n_white }}
URxvt.color15:     {{ b_white }}

! Appearance
URxvt.saveLines:        12000
URxvt.internalBorder:   30
URxvt.urgentOnBell:     true
URxvt.scrollBar:        false
URxvt.cursorBlink:      true

! Clickable links
URxvt.url-launcher:     google-chrome
URxvt.matcher.button:   1

URxvt.perl-ext-common:  default,matcher,confirm-paste

!! Xautolock

Xautolock.time:         5
Xautolock.locker:       i3plock

Xautolock.corners:      000-
Xautolock.cornersize:   100

