@-moz-document url(about:newtab) {
  body {
    background-color: {{ bgc }} !important;
    height: 0 !important;
  }

  body::before {
    position: fixed;
    pointer-events: none;
    margin: 0.2em;
    right: 0;
    bottom: 0;
    font-family: '{{ font }}', sans-serif;
    font-size: 10em;
    color: {{ n_primary }};
    content: "ネット";
  }

  body > * {
    display: none !important;
  }
}

input {
  background-color: white;
  color: black;
}
